@import "tailwindcss";
@plugin "@tailwindcss/typography";


@layer utilities {
  .base-page {
    @apply flex-auto p-8 font-sans;
    @apply bg-blue-100;
  }
}

@layer components {
  .article {
    @apply prose lg:prose-xl;
    /* Make bullets black */
    @apply [--tw-prose-bullets:theme(colors.black)];

    /* Make all links your brand blue */
    @apply [--tw-prose-links:theme(colors.blue.600)];

    /* Make all bold text black (instead of dark gray) */
    @apply [--tw-prose-bold:theme(colors.black)];
  }

  .clickable-link {
    @apply hover:text-blue-700;
  }
}