@import "tailwindcss";
@plugin "@tailwindcss/typography";


@layer utilities {
  .base-page {
    @apply w-full mx-auto;
    @apply flex flex-col items-center justify-start;
    @apply py-8 font-sans;
    @apply bg-blue-100 dark:bg-gray-900;
  }
}

@layer components {
  .article {
    @apply prose md:prose-lg lg:prose-xl dark:prose-invert max-w-[80ch];
    /* Make bullets black */
    @apply [--tw-prose-bullets:theme(colors.black)];

    /* Make all links your brand blue */
    @apply [--tw-prose-links:theme(colors.blue.600)];

    /* Make all bold text black (instead of dark gray) */
    @apply [--tw-prose-bold:theme(colors.black)];
  }

  .clickable-link {
    @apply hover:text-blue-700;
  }
}