---
import { BlogLink } from '../components/blog';
import { BaseHomeLinkPage } from '../components/base';
---

<BaseHomeLinkPage title='About Me'>
  <p>Hi! I'm Samuel, a computer science student.</p>
  <BlogLink />
</BaseHomeLinkPage>
