---
import { SpacedClickableLink } from '../components/links';
import { BasePage } from '../components/base';
---

<BasePage title='About Me'>
  <p>Hi! I'm John Doe, a web developer and content creator.</p>
  <p>I love building websites and sharing my knowledge through blogging.</p>
  <SpacedClickableLink href='/'>Back to Home</SpacedClickableLink>
  <SpacedClickableLink href='/blog'>Read My Blog</SpacedClickableLink>
</BasePage>
