---
import { SpacedClickableLink } from '../components/links';
import { BlogLink } from '../components/blog';
import { BasePage } from '../components/base';
---

<BasePage title='Home'>
  <p>Welcome to my website!</p>
  <SpacedClickableLink href='/about'>About Me</SpacedClickableLink>
  <BlogLink />
</BasePage>
