---
import { SpacedClickableLink } from '../components/links';
import { BasePage } from '../components/base';
---

<BasePage title='Home'>
  <p>Welcome to my website!</p>
  <SpacedClickableLink href='/about'>About Me</SpacedClickableLink>
  <SpacedClickableLink href='/blog'>Blog</SpacedClickableLink>
</BasePage>
